# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Model checkpoints & artifacts
#artifacts/
#*.pth
#*.pt

# Logs
logs/

# VSCode settings
.vscode/

# Data downloads (CIFAR-10)
data/

# OS files
.DS_Store
Thumbs.db
